.about_ptls {
  align-items: center;
  width: 100%;
  padding: 3rem 0;
}

.about_ptls p {
  text-align: justify;
  text-justify: inter-character;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.color_red {
  font-weight: 600;
  color: #F05A5A;
}

.color_green {
  font-weight: 600;
  color: #5E945A;
}

.color_blue {
  font-weight: 600;
  color: #556992;
}

.scaled_a {
  color: #556992;
  display: inline-block;
  padding: 0 0.8rem;
  border-radius: 8px;
  background: #D6D1C7;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.scaled_a:hover {
  text-decoration: none;
  color: #556992;
  transform: scale(106%);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}